@page "/businessplan"
@inherits BusninessPlanALPBase

<Head Title="Business Plans">
</Head>
<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-row">
            <!--begin::Aside-->
            <div class="flex-column offcanvas-mobile w-300px w-xl-325px" id="kt_profile_aside">
                <!--begin::Forms Widget 15-->
                <div class="card card-custom gutter-b">
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample8">
                            <!--begin::Item-->
                            <div class="card">
                                <label class="font-size-h3 font-weight-bolder text-dark">Analyze SWOT While Creating Business Plans</label>

                                <!--begin::Header-->
                                <div class="card-header" id="headingOne8">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne8" aria-expanded="true" aria-controls="collapseOne8" role="button">
                                        <span class="svg-icon svg-icon-primary">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                        <div class="card-label text-dark pl-4"> Strengths</div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div id="collapseOne8" class="collapse" aria-labelledby="headingOne8" data-parent="#accordionExample8">
                                    <div class="card-body text-dark font-size-lg pl-12">
                                        <li>What are your strengths?</li>
                                        <li>What do you do better than others?</li>
                                        <li>What unique capabilities and resources do you possess?</li>
                                        <li>What do others perceive as your strengths?</li>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>

                            <div class="card">
                                <!--begin::Header-->
                                <div class="card-header" id="headingTwo8">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo8" aria-expanded="true" aria-controls="collapseTwo8" role="button">
                                        <span class="svg-icon svg-icon-primary">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                        <div class="card-label text-dark pl-4">Weakness</div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div id="collapseTwo8" class="collapse" aria-labelledby="headingTwo8" data-parent="#accordionExample8">
                                    <div class="card-body text-dark font-size-lg pl-12">

                                        <li>What are your weakness?</li>
                                        <li>What do your competitors do better than you?</li>
                                        <li>What can you improve given the current situation?</li>
                                        <li>What do others perceive as your weakness?</li>

                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>

                            <div class="card">
                                <!--begin::Header-->
                                <div class="card-header" id="headingThree8">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree8" aria-expanded="true" aria-controls="collapseThree8" role="button">
                                        <span class="svg-icon svg-icon-primary">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                        <div class="card-label text-dark pl-4">Opportunities</div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div id="collapseThree8" class="collapse" aria-labelledby="headingThree8" data-parent="#accordionExample8">
                                    <div class="card-body text-dark font-size-lg pl-12">

                                        <li>What trends or conditions may positively impact you?</li>
                                        <li>What opportunities are available to you?</li>


                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                            <div class="card">
                                <!--begin::Header-->
                                <div class="card-header" id="headingFour8">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFour8" aria-expanded="true" aria-controls="collapseFour8" role="button">
                                        <span class="svg-icon svg-icon-primary">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                        <div class="card-label text-dark pl-4"> Threats</div>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div id="collapseFour8" class="collapse" aria-labelledby="headingFour8" data-parent="#accordionExample8">
                                    <div class="card-body text-dark font-size-lg pl-12">
                                        <li>What trends or conditions may negatively impact you?</li>
                                        <li>What are your competetors doing that may impact you?</li>
                                        <li>Do you have solid financial support?</li>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                        <!--begin::Form-->
                        <!--end::Form-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Forms Widget 15-->
            </div>
            <div class="flex-row-fluid ml-lg-8">
                <div class="card card-custom gutter-b">
                    <div class="card-body d-flex rounded bg-secondary p-12 flex-column flex-md-row flex-lg-column flex-xxl-row">
                        <div class="card card-custom w-auto w-lg-auto m-0">
                            <div class="card-body px-12 py-10">
                                <h3 class="font-weight-bolder font-size-h2 mb-1">
                                    <a class="text-dark-75">Business Plan</a>
                                </h3>
                                <div class="font-size-h5 mt-3">
                                    A business plan is a critical part of venture forecast. In addition to helping you budget for current and future employees, business plan enables you to think through who you should hire and when you should hire them.
                                    If you’re pitching to angel investors or venture capitalists for funding, they will want to see why your team is uniquely suited to grow and scale your business, as well as your hiring plan.
                                </div>
                                <!--begin::Info-->
                                <!--end::Info-->
                            </div>
                            <!--end::Card Body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Card Body-->
                </div>
            </div>
        </div>
        @if (State == LoadingContainerState.Loading)
        {
            <OneUX_Spinner />
        }
        else if (State == LoadingContainerState.Error)
        {
            <p>Oops something went wrong ...</p>
        }
        else if (State == LoadingContainerState.Loaded)
        {
            @if (BusinessPlans_Data != null && BusinessPlans_Data.Count > 0)
            {
                <OneUX_AlpHeader Route="businessplan/create" Name="Business Plan" Count="BusinessPlans.Count" ReturnSearchedQuery="GetSearchedString" HeaderId="newBplan">
                    <OneUX_ToggleViewsApp ReturnView="ToggleView" Route="businessplan/create" />
                </OneUX_AlpHeader>

                @if (ProgramView == "List")
                {
                    <div class="row">
                        @foreach (var BusinessPlan in BusinessPlans_Data)
                        {
                            if (!IsVisible(BusinessPlan)) continue;
                            <OneUX_GridView Title="@BusinessPlan.VentureName" Creator="@BusinessPlan.Core.CreatorId" CreatedAt="@BusinessPlan.Core.CreatedAt" IsDeleted="@BusinessPlan.Core.IsDeleted" DeleteCallback="CallDeleteBPlanAlert" EditCallback="EditBusinessPlanAsync" Route="businessplan" ComponentId="@BusinessPlan.Id" ThumbnailImg="_content/OneUX/assets/imgs/BPlan1.png" />
                        }
                    </div>
                }
                else
                {
                    <OneUX_ListView Data="BusinessPlans" Route="businessplan" ListDivId="businessPlan" />
                }
            }
            else
            {

                <OneUX_AlpHeader Route="businessplan/create" Name="Business Plan" HeaderId="newBplan" />

            }
        }
    </div>
</div>

<OneUX_SweetAlertBox @ref="ShowSweetAlertBox" Header="Are you sure?" Text="You won't be able to revert this!" Type="warning" ButtonName="Yes, delete it!" OnButtonClickk="DeleteBPlanAsync" />
