@page "/assessment/insight/{Id}/{name}"
<Head Title="Assessments">
</Head>
<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <a href="/" class="text-dark font-weight-bold my-1 mr-5">Home</a>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/assessments" class="text-muted">Assessments</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="assessment/@Id/@name" class="text-muted">Detail</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="assessment/@Id/@name/insight" class="text-muted">Insight</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <!--end::Toolbar-->
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Registered Users for @Model.Name</h3>
                </div>
            </div>
            <div class="card-body">
                <!--begin::Example-->
                @*<OneUX_List Data="Model.Users" Route="businessmodelcanvas" GridDivId="event_insight" />*@
                <div class="example mb-10">
                    <div class="example-preview">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">S.No</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">User Email</th>
                                        <th scope="col">Apply Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<Virtualize Items="RegisteredUser" Context="user">*@
                                    @if (Model.AssessmentRegistration != null)
                                    {
                                        int i = 1;
                                        @foreach (var user in Model.AssessmentRegistration)
                                        {
                                            int CheckSubmitionCount = 0;
                                            CheckSubmitionCount = Model.AssessmentAnswerKey.Where(x => x.UserId == user.UserId).Count();
                                            <tr>
                                                <th scope="row">@i</th>
                                                <td>
                                                    <a href="profile/@user.UserId">@user.UserName</a>
                                                </td>
                                                <td>@user.EmailId</td>
                                                <td>@user.ApplyDate.ToString("dd MMMM yy")</td>
                                                @if (CheckSubmitionCount > 0)
                                                {
                                                    <td> <a href="assessment/answerkey/@Model.Id/@user.UserId">Taken</a></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                    @*</Virtualize>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

