<div class="col-lg-6 col-xl-3">
    <div class="card card-custom">
        <div class="card-body text-center px-5 pt-1">
            <div class="overlay">
                <div class="overlay-wrapper rounded bg-light text-center">
                    @if (GroupInfo.CoverImage != null)
                    {
                        <img class="img-thumbnail" src="@GroupInfo.CoverImage" alt="Image" style="height:160px;width:calc(100%)">
                    }
                    else
                    {
                        <img class="img-thumbnail" alt="Image" style="height:160px;width:calc(100%)" src="https://s1.startuped.net/incubation_cloud/assets/media/users/default.jpg" />
                    }
                </div>
                @if (GroupInfo.Core.CreatorId == UXUtility.LoggedInUser.Id)
                {
                    <div class="overlay-layer">
                        <a href="#" class="btn btn-sm btn-light-secondary" @onclick="@(()=>DeleteCommunity(GroupInfo.Id))" @onclick:preventDefault><i class="far fa-trash-alt p-0 icon-md"></i></a>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center my-3">
                <a href="community/@GroupInfo.Id/@GroupInfo.Name" class="font-weight-bold font-size-h5 text-primary">@GroupInfo.Name</a>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <span class="text-dark-50 font-weight-bold mr-2">@GroupInfo.Privacy</span>
            </div>
            @if (GroupInfo.Core.CreatorId == UXUtility.LoggedInUser.Id)
            {
                <a href="community/@GroupInfo.Id/@GroupInfo.Name/edit" class="btn btn-light-secondary font-weight-bold text-center btn-block"><i class="fas fa-pen icon-md"></i>&nbsp;Edit</a>
            }
            else
            {
                <a href="#" class="btn btn-light-secondary font-weight-bold text-center btn-block" @onclick="@(()=>LeaveGroupAsync(GroupInfo.Id))" @onclick:preventDefault>Leave</a>
            }
        </div>
    </div>
</div>
@*<div class="d-flex align-items-center justify-content-between mb-2">
        <span class="font-weight-bold mr-2">Visibility:</span>
        <a class="text-muted text-hover-primary">Email</a>
    </div>*@

@code {
   
}
