@page "/inbox/message"
@page "/inbox/message/{ConnectionId}"

<Head Title="Messaging">
</Head>
<!--begin::Aside-->
<div class="flex-row-auto offcanvas-mobile w-350px w-xl-400px" id="kt_chat_aside">
    <div class="card card-custom">
        <div class="card-body pt-5">
            <!--begin:Message Request-->
            <div class="accordion accordion-light accordion-toggle-arrow" id="accordionMessageRequest">
                <div class="card m-0">
                    <div class="card-header" id="headingOne2">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#messageRequestCollapse">
                            Message Requests &nbsp;&nbsp;&#40;@UserChatRequest.Count&#41;
                        </div>
                    </div>
                    <div id="messageRequestCollapse" class="collapse" data-parent="#accordionMessageRequest">
                        <div class="card-body">
                            @if (UserChatRequest!=null && UserChatRequest.Count>0)
                            {
                                @foreach (var user in UserChatRequest)
                                {
                                    <UserCard User="user" Profile="@ProfileChatRequest.Find(pr => pr.Core.CreatorId == user.Id)" ConnectionClicked="@(() => OnClickUserChatRequest(user.Id))" />
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!--begin:Message Request-->
            <div class="separator separator-solid my-5"></div>
            <!--begin:Search-->
            <div class="input-group input-group-solid">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="svg-icon svg-icon-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </span>
                    </span>
                </div>
                <input type="text" class="form-control py-4 h-auto" @bind="@SearchString" @bind:event="oninput" placeholder="Type Name.." />
            </div>
            <!--end:Search-->
            <div class="mt-7 scroll scroll-pull" data-height="325" data-mobile-height="350">
                <!--begin:User-->
                @if (ConnectionsFullInfo!=null && ConnectionsFullInfo.Count>0)
                {
                    @foreach (var FullInfo in ConnectionsFullInfo)
                    {
                        if (!IsVisible(FullInfo.UserModel)) continue;

                        UserFullInfo ConnectionInfo = ConnectionsFullInfo.Find(pr => pr.ProfileModel.Core.CreatorId == FullInfo.UserModel.Id);
                        <UserCard User="FullInfo.UserModel" Profile="@ConnectionInfo.ProfileModel" ConnectionClicked="@(() => OnConnectionChanged(FullInfo.UserModel.Id))" />
                    }
                }
                <!--end:User-->
            </div>
        </div>
    </div>
</div>
<!--end::Aside-->
@if (PreviousChats != null)
{
    @if (!string.IsNullOrEmpty(ConnectionId))
    {
        <ChatBox PreviousChats="PreviousChats" UserAvatarUrl="@UXUtility.LoggedInUserImage" ConnectionId="@ConnectionId" ConnectionName="@ConnectionName" ConnectionEmail="@ConnectionEmail" ConnectionAvatarUrl="@ConnectionImageUrl" />
    }
}
@*ConnectionClicked="@(()=>OnConnectionChanged($"/inbox/message/{connection.Id}/{connection.Name}"))"*@


