@page "/settings/address/{userId}"


<div class="flex-row-fluid ml-lg-8">
    <div class="card card-custom">
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Address Details</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Setup your addresss</span>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <EditForm class="form" novalidate="novalidate" id="socialInfo" Model="@Model" OnValidSubmit="SubmitInfoAsync">
            <div class="card-body">
                <CascadingValue Value="@FormElementStyle" Name="FormInput Class">
                    <CascadingValue Value="@InputElementStyle" Name="Input Class">
                        <CascadingValue Value="@LabelStyle" Name="Label Class">
                            <CascadingValue Value="@ElementWrapperStyle" Name="Wrapper Class">
                                <OneUX_GetLocation ReturnLocation="GetLocation" />

                                @if (!string.IsNullOrEmpty(Model.Address.Country))
                                {
                                    <OneUX_InputSelect @bind-Value="Model.Address.Country" Label="Country" Id="countryInputSelect" Title="Select Country">
                                        <option selected="selected" value=@Model.Address.Country>@Model.Address.Country</option>
                                        @foreach (var country in CountryList)
                                            {
                                            <option value=@country>@country</option>

                                            }
                                    </OneUX_InputSelect>
                                }
                                else
                                {
                                    <OneUX_InputSelect @bind-Value="Model.Address.Country" Label="Country" Id="countryInputSelect" Title="Select Country">
                                        @foreach (var country in CountryList)
                                            {
                                            <option value=@country>@country</option>
                                            }
                                    </OneUX_InputSelect>
                                }
                                <OneUX_InputBox @bind-Value="Model.Address.FirstLine" Label="Address Line 1" PlaceholderText="Address Line 1" SpanElement="Please enter your Address." />
                                <OneUX_InputBox @bind-Value="Model.Address.SecondLine" Label="Address Line 2" PlaceholderText="Address Line 2" SpanElement="Please enter your Address." />
                                <OneUX_InputBox @bind-Value="Model.Address.City" Label="City" PlaceholderText="City" ElementId="cityInputId" SpanElement="Please enter your City." />
                                <OneUX_InputBox @bind-Value="Model.Address.State" Label="State / Province / Region" PlaceholderText="State" ElementId="stateInputId" SpanElement="Please enter your State." />
                                <OneUX_InputBox @bind-Value="Model.Address.Zip" Label="Zip / Postal Code" PlaceholderText="Zip Code" ElementId="zipInputId" SpanElement="Please enter your Postcode." />
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
                <div class="d-flex justify-content-between pt-3">
                    <div class="mr-2">
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" @onclick="HandleClick">
                            <span class="svg-icon svg-icon-md mr-1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                        <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                    </g>
                                </svg>
                            </span>Previous
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3">
                            Next
                            <span class="svg-icon svg-icon-md ml-1">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                    </g>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code{
   

}