@page "/settings/personal/{UserId}"

<div class="flex-row-fluid ml-lg-8">
    <div class="card card-custom">
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Personal Information</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal informaiton</span>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <EditForm class="form" novalidate="novalidate" id="personalPage" Model="@Model" OnValidSubmit="SubmitInfoAsync">
            <div class="card-body">
                <CascadingValue Value="@FormElementStyle" Name="FormInput Class">
                    <CascadingValue Value="@InputElementStyle" Name="Input Class">
                        <CascadingValue Value="@LabelStyle" Name="Label Class">
                            <CascadingValue Value="@ElementWrapperStyle" Name="Wrapper Class">
                                <OneUX_InputBox @bind-Value="Model.FirstName" Label="First Name" ElementId="firstName" />
                                <OneUX_InputBox @bind-Value="Model.LastName" Label="Last Name" ElementId="lastName" />

                                <OneUX_InputBox @bind-Value="PreviousEmail" ElementId="email" Label="Email" Type="email" IsTrue=true EmailChange="true" OnClickCallback="@ShowEmailBox" />

                                @if (IsShowEmailBox == true)
                                {
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-xl-3"></div>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control form-control-solid form-control-lg" id="email" @bind="UpdatedEmail" type="email" maxlength="200" placeholder="Email" autocomplete="off" />
                                            <button class="btn btn-primary" @onclick="UpdateEmail" @onclick:preventDefault>Update</button>
                                            <button class="btn btn-primary" @onclick="CloseEmailBox" @onclick:preventDefault>Close</button>
                                        </div>
                                    </div>
                                }
                                <OneUX_DatePicker Label="Date Of Birth" ElementId="dateOfBirth" PlaceholderText="Select date" DateValue="@Model.DateOfBirth" />

                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h5 class="font-weight-bold mt-10 mb-6">Contact Information</h5>
                                    </div>
                                </div>
                                @*<OneUX_InputBox @bind-Value="Model.ContactNo.Work" Label="Work" PlaceholderText="Work Contact" Type="text" />*@
                                <OneUX_InputBox @bind-Value="Model.ContactNo.Mobile" Label="Phone No" MaxLength="10" PlaceholderText="Contact" Type="text" />
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3">
                        Next
                        <span class="svg-icon svg-icon-md ml-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                </g>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code{
    

}