<!--Start::Modal-->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logModalLabel">New Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @*<EditForm class="kt-section__form kt-form" autocomplete="off" id="kt-section_form" Model="@Model" OnValidSubmit="SubmitModel">

                        <OneUX_InputBox @bind-Value="Model.TaskTitle" Label="Task Title" PlaceholderText="Name of Task" />
                        <OneUX_InputSelect Label="Task Assignee" @bind-Value="Model.TaskAssignUserId" Title="Assign Task">
                            @foreach (var Member in Members)
                            {
                                <option value="@Member.Core.Id">@Member.Name</option>

                            }
                        </OneUX_InputSelect>
                        <OneUX_TextArea PlaceholderText="Description" Label="Task Description" ElementId="taskDescription" @bind-Value="@Model.TaskDescription" />
                        <OneUX_InputSelect @bind-Value="Model.TaskPriority" Id="priorityList" ValidationFor="@(() => Model.TaskPriority)" Label="Task Priority" Title="Select Priority">
                            @foreach (var priority in PriorityList)
                            {
                                <option value="@priority">@priority</option>
                            }
                        </OneUX_InputSelect>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary font-weight-bold">Submit</button>
                        </div>
                    </EditForm>*@
            </div>
        </div>
    </div>
</div>

<!--end::Modal-->

@code {

}
